@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
/* line 54, ../scss/style.scss */
.left {
  float: left;
}

/* line 58, ../scss/style.scss */
.right {
  float: right;
}

/* line 62, ../scss/style.scss */
.clearfix {
  clear: both;
}

/* line 66, ../scss/style.scss */
.centered {
  margin-left: auto;
  margin-right: auto;
}

/* line 72, ../scss/style.scss */
.inline li {
  display: inline;
}

/* line 77, ../scss/style.scss */
.indented {
  margin-left: 20px;
}

/* line 81, ../scss/style.scss */
.min-height {
  min-height: 400px;
}

/* line 85, ../scss/style.scss */
.max-width {
  max-width: 1000px;
}

/* line 89, ../scss/style.scss */
ul {
  list-style: none;
}

/* line 93, ../scss/style.scss */
.bulleted {
  list-style: square outside;
}

/* line 100, ../scss/style.scss */
* {
  font-family: 'Roboto', sans-serif  !important;
  margin: 0;
  padding: 0;
}

/* line 106, ../scss/style.scss */
a {
  color: #009999;
  text-decoration: none;
}
/* line 109, ../scss/style.scss */
a a:hover {
  color: #5ccccc;
}

/* line 114, ../scss/style.scss */
h1, h2, h3 {
  text-transform: uppercase;
}

/* line 115, ../scss/style.scss */
h4, h5, h6 {
  text-transform: capitalize;
}

/* line 117, ../scss/style.scss */
h1 {
  font-size: 2.4em;
}

/* line 118, ../scss/style.scss */
h2 {
  font-size: 2.0em;
}

/* line 119, ../scss/style.scss */
h3 {
  font-size: 1.8em;
}

/* line 120, ../scss/style.scss */
h4 {
  font-size: 1.6em;
}

/* line 121, ../scss/style.scss */
h5 {
  font-size: 1.4em;
}

/* line 122, ../scss/style.scss */
h6 {
  font-size: 1.2em;
}

/* line 124, ../scss/style.scss */
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 129, ../scss/style.scss */
body {
  background: #eeeeee;
}

/* line 134, ../scss/style.scss */
header {
  position: relative;
  height: 125px;
  color: #fff;
  border-bottom: 5px solid black;
  width: 100%;
  z-index: 100;
}
/* line 142, ../scss/style.scss */
header .header-inner {
  max-width: 1000px;
  margin: 0 auto;
}
/* line 146, ../scss/style.scss */
header .header-inner #logo {
  margin-top: 5px;
}
/* line 149, ../scss/style.scss */
header .header-inner #logo img {
  box-shadow: 4px 4px 5px #333333;
}

/* line 156, ../scss/style.scss */
header:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: -13px;
  width: 100%;
}

/* line 169, ../scss/style.scss */
.top-nav {
  background: none;
  color: #fff;
  height: 30px;
  padding: 0;
}
/* line 175, ../scss/style.scss */
.top-nav section {
  background: inherit;
  padding: 0;
  width: 100%;
}
/* line 180, ../scss/style.scss */
.top-nav section ul {
  background: inherit;
  padding: 0;
  width: 100%;
  list-style: none;
}
/* line 186, ../scss/style.scss */
.top-nav section ul li {
  width: 20%;
  padding: 0 5px;
}
/* line 190, ../scss/style.scss */
.top-nav section ul li a {
  background: transparent;
  color: #009999;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 199, ../scss/style.scss */
.top-nav section ul li a:hover {
  transition: background 0.4s;
  -webkit-transition: background 0.4s;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  color: #5ccccc;
}

/* line 213, ../scss/style.scss */
.hero-holder {
  background: white;
  width: 100%;
  border-bottom: 1px solid #009999;
  overflow: hidden;
}
/* line 219, ../scss/style.scss */
.hero-holder .hero-area {
  vertical-align: center;
}
/* line 222, ../scss/style.scss */
.hero-holder .hero-area img {
  margin: 0 auto;
}

/* line 232, ../scss/style.scss */
.content-wrapper .page-content {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 236, ../scss/style.scss */
.content-wrapper .page-content .with-sidebar {
  width: 75%;
}
/* line 240, ../scss/style.scss */
.content-wrapper .page-content .sidebar-holder {
  width: 25%;
}

/* line 246, ../scss/style.scss */
.mainContent, .sidebar {
  min-height: 400px;
  padding: 10px;
}

/* line 253, ../scss/style.scss */
.mainContent .services {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 257, ../scss/style.scss */
.mainContent .services h2 {
  margin-bottom: 30px;
}

/* line 269, ../scss/style.scss */
.sidebar {
  height: 100% !important;
  position: relative;
}
/* line 273, ../scss/style.scss */
.sidebar .side-nav {
  position: fixed;
  top: 20%;
  bottom: 40% legend;
  bottom-font-size: 1.2em;
  bottom-margin-bottom: 10px;
}
/* line 283, ../scss/style.scss */
.sidebar .side-nav li {
  margin-left: 10px;
}

/* line 290, ../scss/style.scss */
.footer-outer {
  width: 100%;
  background: #333333;
  border-top: 7px solid #000;
  box-shadow: -2px 5px 2px #333333;
}
/* line 296, ../scss/style.scss */
.footer-outer footer {
  position: relative;
  min-height: 180px;
  color: #FFF;
  padding-top: 15px;
}
/* line 302, ../scss/style.scss */
.footer-outer footer div {
  padding: 0 !important;
}
/* line 306, ../scss/style.scss */
.footer-outer .copyright {
  position: relative;
  bottom: 10px;
  left: 10px;
}
/* line 310, ../scss/style.scss */
.footer-outer .copyright p {
  color: #009999;
}
/* line 312, ../scss/style.scss */
.footer-outer .copyright p a:hover {
  color: #5ccccc;
}

/* line 322, ../scss/style.scss */
.footer-block ul li {
  list-style: none !important;
  display: inline !important;
  margin-right: 10px;
}
/* line 327, ../scss/style.scss */
.footer-block ul li a {
  font-weight: 700 !important;
  font-size: 1.1em;
  text-shadow: 1px 1px 3px #222;
  color: #009999;
}
/* line 333, ../scss/style.scss */
.footer-block ul li a i {
  font-size: 2.5em;
}
/* line 337, ../scss/style.scss */
.footer-block ul li a:hover {
  color: #5ccccc;
}
